@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hanken-Bold";
  src: url("/public/assets/fonts/static/HankenGrotesk-Bold.ttf");
}

@font-face {
  font-family: "Hanken-ExtraBold";
  src: url("/public/assets/fonts/static/HankenGrotesk-ExtraBold.ttf");
}

@font-face {
  font-family: "Hanken-Medium";
  src: url("/public/assets/fonts/static/HankenGrotesk-Medium.ttf");
}
